
.projectItem {
  .itemName {
    width: 220px;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .itemID {
    float: right;
  }
}

.projectItem_red {
  border-radius: 4px;
  border-left: 4px solid red;
  margin-bottom: 8px;
  &:hover {
    border-left: 8px solid red;
  }
  .projectItem()
}

.projectItem_yellow {
  border-radius: 4px;
  border-left: 4px solid #EFCC13;
  &:hover {
    border-left: 8px solid #EFCC13;
  }
  .projectItem()
}

.projectItem_gray {
  border-radius: 4px;
  border-left: 4px solid gray;
  &:hover {
    border-left: 8px solid gray;
  }
  .projectItem()
}
